{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <div class="container" >


        <div id="overlay">

            <div class="card" id="compose-view">
                <div class="card-header">
                    <span id="close_span" class="close_span"><img class="material-symbols-outlined" src=" {% static 'network/close.png' %} "alt="" srcset=""></span>
                </div>

                <div class="card-body">
                    <div class="card-image">
                            <img  src="https://i.imgur.com/0PmI3ZD.png" alt="" srcset="">                    
                    </div>
                    <div class="card-content">
                        <form id="compose-form">
                            <div class="tweet_input card-title">
                                <textarea id="compose-body" placeholder="What's going on ?" name="" id="" cols="50" rows="4"></textarea>
                            </div>
                            <div class="text-right">
                                <button id='compose-submit' disabled type="submit"  class="btn btn-primary">Tweet</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

        <div id="all-posts-view">
            <div class="tweet_container" style="display: none;">
                <div class="image_container">
                        <img  src="https://i.imgur.com/0PmI3ZD.png" alt="" srcset="">                    
                </div>


                <div class="tweet_body_container" >
                    <div class="tweet_header_container">
                        <span class="tweet_username" >SUdo</span>  <span class="tweet_user_at" >SudoOverloord</span> <span class="tweet_date">23 Dec</span>
    
                    </div>
                    <div class="tweet_body_text">
                        <p id="tweet_body_text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni architecto molestiae optio sunt. Esse quaerat officiis earum architecto ipsa! Quae possimus, et aut neque, adipisci autem dolorum harum quod iste pariatur, commodi facilis numquam dicta beatae esse consequuntur illo. Repudiandae illo omnis, veniam incidunt non, a illum voluptatibus recusandae distinctio error mollitia quibusdam. Dolore molestias voluptates repellendus, quisquam adipisci maiores. Maxime a odit ea vero molestiae quod possimus, veniam debitis recusandae asperiores sit fuga ex excepturi minus error placeat, inventore tempora in omnis beatae! Perspiciatis repellat delectus culpa quam reiciendis tempora modi illum debitis, numquam suscipit eligendi voluptates animi voluptate?
                        </p>
                    </div>
                    <div class="tweet_footer">
                        <div class="tweet_footer_item">
                            <span>
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <p>15</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>


{% endblock %}



{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}