{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock script %}
    </head>
    <body> 

        <nav class="custom_navbar">
            <ul class="custom_navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item" >
                    <a class="custom_nav-link" href="#">   
                        <span class="link-text" style="text-align: center;">
                            <h1>{{ user.username }}</h1>
                        </span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="custom_nav-link" href="#" id="all-posts">
                        <span class="link-text">
                            All Posts
                        </span>
                    </a>
                </li>
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a href="#" class="custom_nav-link" id="add-post">
                        <span class="link-text">
                            Add Post
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="custom_nav-link">
                        <span class="link-text">
                            Following
                        </span>
                    </a>

                </li>

                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="custom_nav-link">
                        <span class="link-text">
                            Logout
                        </span>
                    </a>

                </li>
                {% else %}
            
                <li class="custom_nav-item">
                    <a href="{% url 'login' %}" class="custom_nav-link">
                        <span class="link-text">
                            Login
                        </span>
                    </a>

                </li>

                <li class="custom_nav-item">
                    <a href="{% url 'register' %}" class="custom_nav-link">
                        <span class="link-text">
                            Register
                        </span>
                    </a>

                </li>
                {% endif %}
            </ul>
        </nav>

                <div >
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea omnis, labore animi, aliquid corrupti, aliquam sint ipsa dolorum ipsam fuga rem aut magnam quidem ab reiciendis. Reiciendis alias fugit esse.

                </div>
             <div style="margin-top: 5%;" class="container">
                {% block body %}
                {% endblock %}
            </div> 
    </body>
</html>