{% extends "network/layout.html" %}
{% load static %}


{% block body %}

<input type="hidden" id="profiled_user" value="{{response.id}}">
<input type="hidden" id="profiled_user_name" value="{{response.username}}">
<input type="hidden" id="request_user" value="{{request.user.id}}">



<div class="profile_base_container">
    <div class="container">

        <div class="profile-container ">
            <div class="profile-title">
                <span class="profile_back_span" >
                    <i class="fa-solid fa-arrow-left" id="profile_back_arrow" style="cursor: pointer;"></i>
                </span>
               <p>{{response.first_name}}</p>
            </div>
            <div class="profile-header">
                <div class="profile-image">
                    <img src="https://i.imgur.com/0PmI3ZD.png" alt="" srcset="">
                </div>

                <div class="profile-infos">
                {% if user.is_authenticated %}
                    {% if response.following %}
                        <button id="follow_btn" class="btn btn-primary">unfollow</button>
                    {% else %}
                        <button id="follow_btn" class="btn btn-primary">follow</button>

                    {% endif %}
                {% endif %}
                </div>

            </div>
        </div>
        <div class="user_container">
            <h4>{{ response.first_name }} {{ response.last_name }} </h4>
            <h4 id="user_profile_name">  @{{response.username}} </h4>
            <p id="user_profile_mail">{{response.user_email}}</p>
            <p id="user_profile_joined_date">{{response.date_joined}} </p>

            <div class="subscriber_view">
                <p id="user_profile_subscriptions">78 Subscriptions </p>
                <p id="user_profile_subscribers">678 Subsscribers</p>

            </div>
            <p id="user_profile_num_posts">{{response.num_posts}} Posts </p>
        </div>
        <div id="toggle_view_container" class="toggle_view">

            {% for  post  in  response.post_objects %}

                <div class="tweet_container" style="">
                    <div class="image_container">
                            <img  src="https://i.imgur.com/0PmI3ZD.png" alt="" srcset="">                    
                    </div>
                
                
                    <div class="tweet_body_container" >
                        <div class="tweet_header_container">
                            <span class="tweet_username" >{{post.user}}</span>  <span class="tweet_user_at" >SudoOverloord</span> <span class="tweet_date">23 Dec</span>
                
                        </div>
                        <div class="tweet_body_text">
                            <p id="tweet_body_text">
                                {{post.body}}
                            </p>
                        </div>
                        <div class="tweet_footer">
                            <div class="tweet_footer_item">
                                <span>
                                    {% if post.likes > 0 %}
                                        <i class="fa-solid fa-heart liked"></i>
                                    {% else %}
                                        <i class="fa-solid fa-heart "></i>

                                    {% endif %}
                                </span>
                                <p>{{post.likes}}</p>
                            </div>
                
                        </div>
                    </div>
                
                </div>

            {% endfor %}


        </div>

    </div>

</div>


{% endblock body %}


{% block script %}
<script src="{% static 'network/profile.js' %}"></script>
{% endblock %} 

