{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit - {{title}}
{% endblock %}

{% block header %}
    {% include "encyclopedia/messages.html" %}
{% endblock %} 


{% block body %}

<form action=" {% url 'my_wiki:edit' title %} " method="POST">
        {% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlInput1"> Editing {{ title }} </label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="title"  value=" {{ title }} " readonly>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">  {{title}}'s content</label>
      <textarea name='content' type="text" class="form-control" id="exampleFormControlTextarea1" rows="10"> {{ content }}</textarea>
    </div>

    <div class="form-group">
        <input class="btn btn-primary mb-2" type="submit" id="submit1" value="Edit">
    </div>

  </form>
{% endblock %}