.post_container {
    margin: 2rem;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #fadbc1 1px solid!important;
}




/* variables*/

:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary : #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;   
    --transition-speed: 600ms;
}



body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}


/* change scroll bar style */
body::-webkit-scrollbar {
    width: 0.25rem;
}

/* scroll bar background color
 */
 body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8 ;
}

.custom_navbar {
    width: 10%;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    transition:  width 200ms ease;
}

.custom_navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
}


.nav-item:last-child {
    margin-top: auto;
}

.custom_nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;

}

.nav-item{

}