<div class="row">
    {% for auction in auctions %}
    <!--Display only active auctions-->
    {% if auction.is_open %}
        <div class='col-sm-3' style="border-radius: 20px; padding: 20px;">
            <div  class="card" style=" width: 100%; border-radius: 20px; border: solid gray 1px; background-color: #afe0d6;">
                <a href=' {% url "item" auction.pk %}  '> <img class="card-img-top" src="{{auction.image_url}}" alt="Card image cap" style='width:100%; height:200px; border-radius: 20px;'> </a>

                <div class="card-body" >
                    <h5 class="card-title">{{auction.title}} - Current Price: 
                        {% if auction.auction_bids.all|length >= 1 %}
                        {{auction.auction_bids.last.value}} 
                        {% else %}
                        {{auction.starting_bid}}  
                        {{auction.auction_bids.last.value}} 
                
                        {% endif %}
                        $
                    
                    </h5>
                    <p class="card-text"> {{auction.description}} </p>
                    <a href="{% url 'item' auction.pk %}" class="btn btn-primary" style="">View</a>
                    <p class="card-text"><small class="text-muted">Last updated {{auction.date}} by 
                        {% if auction.user == request.user%}
                            you
                        {% else %}
                            {{auction.user}}
                        {% endif %}
                    </small></p>
                </div>
        </div>
    </div>     
    {% endif %}
    {% endfor %}
</div>
