{% extends "auctions/layout.html" %}
{% block title %} Register {% endblock title %} 
{% block header %} Register for an account {% endblock header %}  
{% block small %}you need to have an account to post auctions{% endblock small %}
{% block body %}

<style>
    .container a {
        color: blue!important;
    }
    .container a:hover{
        color: #05a081!important;
    }
    form input{
        border: solid 1px gray!important;
    }
</style>

<div class="container">
    <div class="sub-conatiner">
        <div class="form-container" style="padding-top: 10%;">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
        
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Register">
            </form>
        
            Already have an account? <a href="{% url 'login' %}"> Log In here.</a>
        </div>
    </div>
</div>



{% endblock %}