{% load static %}

<li class="nav-item">
    <div class="dropdown show">
        <a  class="nav-link  notification" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span> <img src="{% static 'auctions/notification.png' %}" alt="" srcset=""> </span>
            <span class="badge">3</span>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Auction Dino Closed</a>
            <a class="dropdown-item" href="#">Auction Dino Closed</a>
            <a class="dropdown-item" href="#">Auction Dino Closed</a>
          </div>
    </div>
</li>


